absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
libclang
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
opencv-python-headless
opt_einsum
optree
packaging
pillow
protobuf
Pygments
reportlab
requests
rich
scikit-learn
scipy
setuptools
six
tensorflow-cpu
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wheel
wrapt
